<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="urlRewrite:generateShortUrl" type="Hi.UrlRewrite.Tasks.GenerateShortUrl,Hi.UrlRewrite"/>
      <command name="urlRewrite:clearShortUrl" type="Hi.UrlRewrite.Tasks.ClearShortUrl,Hi.UrlRewrite"/>
    </commands>
  </sitecore>
</configuration>